version: "3.8"

services:
  codesage:
    image: thehapyone/codesage:0.0.1-rc7
    container_name: codesage
    ports:
      - "8080:8000"
    environment:
      SAGE_CONFIG_PATH: "/home/appuser/sage/config.toml"
      REQUESTS_CA_BUNDLE: "/etc/ssl/certs/ca-certificates.crt"
      JIRA_PASSWORD: ${JIRA_PASSWORD}
      AZURE_OPENAI_API_KEY: ${AZURE_OPENAI_API_KEY}
      GITLAB_PASSWORD: ${GITLAB_PASSWORD}
      CHAINLIT_AUTH_SECRET: ${CHAINLIT_AUTH_SECRET}
      COHERE_API_KEY: ${COHERE_API_KEY}
      HF_HOME: /home/appuser/data/huggingface
      HF_TOKEN: ${HF_TOKEN}
    volumes:
      - ${SAGE_HOME}/config.toml:/home/appuser/sage/config.toml
      - sage_data:/home/appuser/data
      - ${SAGE_HOME}/ca.crt:/home/appuser/certs/ca.crt:ro

volumes:
  sage_data:
