[core]
data_dir = "/path/to/data/directory"
logging_level = "INFO"
user_agent = "codesage.ai"

[upload]
max_size_mb = 10
max_files = 5
timeout = 300

[jira]
url = "https://yourcompany.atlassian.net/"
username = "your_jira_username"
password = "your_jira_password"
polling_interval = 300
project = "YOURPROJECT"
status_todo = "To Do"

[azure]
endpoint = "https://your_azure_endpoint"
password = "your_azure_password"
revision = "your_azure_api_version"

[openai]
endpoint = "https://your_azure_endpoint"
password = "your_azure_password"
revision = "your_azure_api_version"
organization = "your_organization"

[source]
top_k = 20

[source.confluence]
username = "your_confluence_username"
password = "your_confluence_password"
server = "https://yourcompany.atlassian.net/wiki"
spaces = ["SPACE1", "SPACE2"]

[source.gitlab]
username = "your_gitlab_username"
password = "your_gitlab_password"
server = "https://gitlab.com"
groups = ["group1", "group2"]
projects = ["project1", "project2"]

[source.web]
links = ["https://example.com", "https://anotherexample.com"]
nested = true
ssl_verify = true

[source.files]
paths = ["/path/to/file1", "/path/to/file2"]

[reranker]
type = "huggingface"
top_n = 5

[reranker.cohere]
name = "your_cohere_reranker_name"
password = "your_cohere_password"

[reranker.huggingface]
name = "your_huggingface_reranker_name"
revision = "your_huggingface_revision"

[embedding]
type = "openai"

[embedding.azure]
name = "your_azure_embedding_name"

[embedding.jina]
name = "your_jina_embedding_name"
revision = "your_jina_embedding_revision"

[llm]
type = "azure"

[llm.azure]
name = "your_azure_llm_name"

[llm.ollama]
name = "your_ollama_llm_name"
endpoint = "https://your_ollama_endpoint"
revision = "your_ollama_revision"
