header .MuiStack-root img[alt="logo"] {
    max-height: 60px !important;
}

/* Text color for the welcome message - Readme page */
#welcome-screen {
    color: white;
}

/* Text color for the default text fields */
.css-pbjmjc {
    color: #d3e2df !important;
}

/* Margin for the welcome message */
.markdown-body :first-child {
    margin-top: 10px !important;
}

/* Text color for the chat input field */
.css-14pkh2q textarea {
    color: #d3e2df !important;
}

/* Backgroud color for the sidebar popup */
.css-1dnvejm {
    background-color: #54b58f !important;
}

/* Backgroud color for the sidebar popup contd */
.css-1q3qpzg {
    background-color: #54b58f !important;
}

/* Color for the Chat Profile Selector */
#chat-profile-selector {
    color: red !important;
    background-color: aqua !important;
}
/* Color for the new chat button icon */
#new-chat-button {
    color: #54b58f !important;
}

/* Text color for the settings  button text */
.css-2jrx9s {
    color: #ffffff !important;
}

/* Text color for the readme button text */
.css-fxwsz {
    color: #ffffff !important;
}

/* Text color for the text in the sidebar */
.css-1f46uet .MuiDrawer-paper {
    color: #fefefe !important;
}

/* Change the backgroup for the steps UI */
.css-5kjw2l {
    background: #000000 !important;
}

/* Text color in the prompt platground */
.css-blpe7b {
    color: #fefefe !important;
}

/* Text color for the User name */
.css-17z68sn {
    color: #54b58f !important;
}

/* Header text color for new chat */
.css-1rglye3 {
    color: #54b58f !important;
}

/* text color for new chat section */
.css-1v84xce {
    color: #fefefe !important;
}

/* Text color in the show history */

.css-lzolpx {
    color: #d3e2df !important;
}

/* Color for the sidebar close icon */
.css-mgjzyx {
    color: #d3e2df !important;
}

/* Color for the highlights in the AI text */

.MuiBox-root code {
    background-color: #0f0f0f !important;
    color: aqua !important;
}

.css-me129t {
    background: #0f0f0f !important;
}

/* Color chat profile description */
.css-1x11djl {
    color: #54b58f !important;
}

/* File mode upload description message */
.css-1di2gs3 {
    color: #54b58f !important;
}

/* Input text placeholder */
.css-10oer18 {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #d3e2df !important;
}

/* Show history button */
.css-b933ss {
    color: #54b58f !important;
}

/* history header text */
.css-157qq19 {
    color: #d3e2df !important;
}

/* Settings color text */
.css-a1i2f5 {
    color: #d3e2df !important;
}

/* Settings color logo */
.css-1f8bwsm {
    color: #d3e2df !important
}

/* Github logo */
.css-vubbuv {
    color: #d3e2df !important
}

/* Color for the code header message block */
.css-zthrdk {
    background: #54b58f !important
}